@import url("../base.css");

#content {
  height: 100vh;
  width: calc(100vw - 200px);
}

#backbround {
  position: relative;
  background-image: url("../assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100% - 100px);
  width: 100%;
}
#title {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  height: 20%;
  max-width: 100%;
}
#title.ready {
  animation: EntranceTop 1s ease 0s 1 normal forwards;
}

#launch-bar {
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#skin {
  position: relative;
  bottom: 50px;
  image-rendering: pixelated;
  background-image: url("../assets/load/skin_load.jpg");
  background-size: cover;
  background-position: center;
}

#skin.loaded {
  background: transparent;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status>.material-symbols-outlined {
  margin-left: .5rem;
  color: var(--green-color);
}

.status>.material-symbols-outlined.off {
  color: var(--red-color);
}